
<div class="container-fluid">
<h1>Character Name Generator</h1>

<div class="panel panel-default">
	<div class="panel-heading">Name Parameters</div>
	<div class="panel-body">
		<div class="row">
			<!-- Multiple Checkboxes -->
			<div class="form-group col-md-2">
			  <label class="control-label" for="checkboxes">Gender</label>
			  <div class="">
			  <div class="checkbox">
			    <label for="checkboxes-0">
			      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
			      Male
			    </label>
				</div>
			  <div class="checkbox">
			    <label for="checkboxes-1">
			      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
			      Female
			    </label>
				</div>
			  </div>

			</div>

			<!-- Multiple Radios -->
			<div class="form-group col-md-2">
			  <label class="control-label" for="radios">Type</label>
			  <div class="">
				  <div class="radio">
				    <label for="radios-0">
				      <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
				      First Name
				    </label>
					</div>
				  <div class="radio">
				    <label for="radios-1">
				      <input type="radio" name="radios" id="radios-1" value="2">
				      Last Name
				    </label>
					</div>
			  </div>
			</div>

			<!-- Multiple Checkboxes -->
			<div class="form-group col-md-2">
			  <label class="control-label" for="checkboxes">Culture</label>
			  <div class="">
				  <div class="checkbox">
				    <label for="checkboxes-2">
				      <input type="checkbox" name="checkboxes" id="checkboxes-2" value="1">
				      Norse
				    </label>
					</div>
				  <div class="checkbox">
				    <label for="checkboxes-3">
				      <input type="checkbox" name="checkboxes" id="checkboxes-3" value="2">
				      Turkish
				    </label>
					</div>
			  </div>
			</div>


		</div> {{!-- END ROW --}}

	</div>
</div>


	<!-- Button -->
	<div class="form-group row">
	  <div class="col-md-2">
	    <button id="genButton" name="genButton" class="btn btn-primary">Generate</button>
	  </div>
	  <div class="col-md-4">
	    <button id="ranButton" name="ranButton" class="btn btn-danger">Random</button>
	  </div>
	</div>

	</fieldset>
	</form>

<div class="panel panel-default col-md-2">
  <!-- Default panel contents -->
  <div class="panel-heading">First Names</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>

<div class="panel panel-default col-md-2">
  <!-- Default panel contents -->
  <div class="panel-heading">Last Names</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>


<div class="panel panel-default col-md-6">
  <!-- Default panel contents -->
  <div class="panel-heading">Character Builder</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>

</div>

	<!-- File Button --> 
	<div class="form-group row">
	  <label class="col-md-4 control-label" for="filebutton">Add Names From CSV</label>
	  <div class="col-md-4">
	    <input id="filebutton" name="filebutton" class="input-file" type="file">
	  </div>
	</div>